@import "tailwindcss";

@tailwind utilities;
@layer components {
  .input {
    @apply rounded-full border border-stone-300 px-4 py-2 text-lg transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-green-400 md:px-6 md:py-3   w-full;
  }
}
body {
  @apply bg-gray-100 text-gray-800;
}
